broker {
    test {
        web-console = "https://your-amazon-mq-test-broker-host:8162/admin/"
        amqurl = "ssl://your-amazon-mq-test-broker-host:61617"
        username = "admin"
        password = "secret"
        prompt-color = "light-blue" // Possible values: "gray", "red", "light-red", "light-green", "green", "light-yellow", "yellow", "light-blue", "blue", "light-purple", "purple", "light-cyan", "cyan", "light-white", "white"
    }
    // add additional brokers here
}

command {
	list-queues {
		order {
			field = "Pending" // Possible values: "Queue Name", "Pending", "Enqueued" and "Dequeued"
			direction = "" // Possible value: "reverse"
		}
	}
	list-topics {
		order {
			field = "Topic Name" // Possible values: "Topic Name", "Enqueued" and "Dequeued"
			direction = "" // Possible value: "reverse"
		}
	}
	list-messages {
		timestamp-format = "yyyy-MM-dd'T'HH:mm:ss"
		receive-timeout = 500 // max wait time in milliseconds for messsages in the --queue queue
	}
	export-messages {
		timestamp-format = "yyyy-MM-dd'T'HH:mm:ss"
		receive-timeout = 500 // max wait time in milliseconds for messsages in the --queue queue
	}
	copy-messages {
		receive-timeout = 500 // max wait time in milliseconds for messsages in the --from queue
	}
	move-messages {
		receive-timeout = 500 // max wait time in milliseconds for messsages in the --from queue
	}
	remove-all-topics {
	    web-console-pause = 50 // milliseconds paused after each topic removal
	}
	remove-all-queues {
	    web-console-pause = 50 // milliseconds paused after each queue removal
	}
	purge-all-queues {
	    web-console-pause = 50 // milliseconds paused after each queue purge
	}
}