broker {
    test {
        web-console = "https://your-amazon-mq-test-broker-host:8162/admin/"
        amqurl = "ssl://your-amazon-mq-test-broker-host:61617"
        username = "admin"
        password = "secret"
        prompt-color = "light-blue" // Possible values: "gray", "red", "light-red", "light-green", "green", "light-yellow", "yellow", "light-blue", "blue", "light-purple", "purple", "light-cyan", "cyan", "light-white", "white"
    }
    // add additional brokers here
}

command {
	list-queues {
		order {
			field = "Pending" // Possible values: "Queue Name", "Pending", "Enqueued" and "Dequeued"
			direction = "" // Possible value: "reverse"
		}
	}
	list-topics {
		order {
			field = "Topic Name" // Possible values: "Topic Name", "Enqueued" and "Dequeued"
			direction = "" // Possible value: "reverse"
		}
	}
	browse-messages {
		timestamp-format = "yyyy-MM-dd'T'HH:mm:ss"
	}
	export-messages {
		timestamp-format = "yyyy-MM-dd'T'HH:mm:ss"
	}
}

messages {
    receive {
        timeout = 2000 // receive timeout in milliseconds (used in move-messages, copy-messages and export-messages)
        batch-size = 200 // batch size (used in move-messages, copy-messages and export-messages)
    }
}

web-console {
    pause = 100 // milliseconds paused between multiple web-console operations (used in purge-all-queues, remove-all-queues and remove-all-topics)
    timeout = 300000 // web-console operation timeout in milliseconds
}